
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yapım Aşamasında , Anlayışınız için Teşekkür ederiz...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="keywords" content="Route Under Construction template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/Yakında/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- font-awesome icons -->
    <link href="~/Yakında/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <!-- //web font -->
    <!-- jS -->
    <script src="~/Yakında/js/jquery.min.js"></script>
    <!-- //js -->
</head>
<body>
    <!-- main -->
    <div class="main-agile">
        <h1>HİZMETLER Yapım Aşamasında , Anlayışınız için Teşekkür ederiz...</h1>
        <div class="w3ls-grids">
            <div class="w3ls-right">
                <div class="w3l-dot">
                    <div class="w3-heading">
                        <h3>Bu sayfa şuan bakımda</h3>
                        <h4>Takipte Kalın</h4>
                    </div>
                </div>
                <!--newsletter-->
                <div class="newsletter">
                    <h2>Şimdi Abone Ol</h2>
                    <form action="#" method="post">
                        <input type="text" name="email" size="30" required="" placeholder="E-Mail adresinizi giriniz..." />
                        <input type="submit" value="Abone Ol" />
                    </form>
                </div>
                <!--//newsletter-->

            </div>
            <div class="w3ls-left">
                <div class="w3ls-dot">
                    <div class="w3-title">
                        <h2>Çok Yakında</h2>

                    </div>
                    <!--timer-->
                    <div class="agileits-timer">
                        <div class="clock">
                            <div class="column days">
                                <div class="timer" id="days"></div>
                                <div class="text">Days</div>
                            </div>
                            <div class="timer days"></div>
                            <div class="column">
                                <div class="timer" id="hours"></div>
                                <div class="text">Hours</div>
                            </div>
                            <div class="timer"></div>
                            <div class="column">
                                <div class="timer" id="minutes"></div>
                                <div class="text">Minutes</div>
                            </div>
                            <div class="timer"></div>
                            <div class="column">
                                <div class="timer" id="seconds"></div>
                                <div class="text">Seconds</div>
                            </div>
                            <div class="clear"> </div>
                        </div>
                    </div>
                    <!--//timer-->
                    <div class="wthree-social">
                        <div class="agileinfo-social-grids">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <!-- //main -->
    <!--scripts-->
    <script type="text/javascript" src="~/Yakında/js/moment.js"></script>
    <script type="text/javascript" src=" ~/Yakında/js/moment-timezone-with-data.js"></script>
    <script type="text/javascript" src="~/Yakında/js/timer.js"></script>
    <!--//scripts-->
</body>
</html>

